<!--- Meet the team -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Meet the Team</h1>
      </div>
      <hr>
    </div>
  </div>
  
  <!--- Cards -->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/team1.png">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">John is an Internet entrepreneur with almost 20 years of experience</p>
            <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/team2.png">
          <div class="card-body">
            <h4 class="card-title">Mary Joe</h4>
            <p class="card-text">Mary is a Designer entrepreneur with almost 20 years of experience</p>
            <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/img/team3.png">
          <div class="card-body">
            <h4 class="card-title">Phillip Hoe</h4>
            <p class="card-text">John is a Developer entrepreneur with almost 20 years of experience</p>
            <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>